<ion-content color="primary" class="ion-padding">
<ion-header>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/todoslist"></ion-back-button>
  </ion-buttons>
</ion-header>
  <ion-grid>
    <ion-row color="primary" class="ion-justify-content-center">
      <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
        <div class="ion-text-center">
          <h3>{{this.todolist.name}}</h3>
        </div>
        <div class="ion-padding">
          <ion-item-sliding *ngFor="let todo of this.todolist.todos ; let i1 = index" [attr.data-index]="i1">
            <ion-item [color]="todo.isDone?'success':'warning'" class="ion-item-todo">
              <ion-label>
                <h2>{{ 'Todo n°' + (i1+1) + ' : ' +  todo.title}}</h2>
              </ion-label>
              <ion-checkbox [(ngModel)]="todo.isDone" (click)="updateTodoCheckBox(todo)"></ion-checkbox>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="delete(todo)">
                <ion-icon slot="top" name="trash"></ion-icon>
              </ion-item-option>
              <ion-item-option color="dark" (click)="displayPromptUpdateTodo(todo)">
                <ion-icon slot="top" name="document"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </div>
        <div class="ion-padding">
          <ion-button size="large" expand="block"(click)="displayPromptAddTodo()">New todo</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--
  <ion-list>
    <ion-item-sliding *ngFor="let todo of this.todolist.todos ; let i = index" [attr.data-index]="i">
      <ion-item [color]="todo.isDone?'success':'warning'">
        <ion-label>
          <h2>{{ 'Todo n°' + (i+1) + ' : ' +  todo.title}}</h2>
        </ion-label>
        <ion-checkbox [(ngModel)]="todo.isDone" (click)="updateTodo(todo,todo.id)"></ion-checkbox>
      </ion-item>
      <ion-item-options side="end">
      <ion-item-option color="danger" (click)="delete(todo)">
            <ion-icon slot="top" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <section>
    <ion-button (click)="displayPromptAddTodo()">New todo</ion-button>
  </section>
  -->
</ion-content>
