<ion-header>
  <ion-toolbar>
    <ion-title>
      Todolists <!-- replace to 'My todolists' after extracted shared list to another page -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-text>
    <h4 >Welcome back !</h4>
  </ion-text>
  <ion-list>
    <H3>My todolists</H3>
    <ion-item-sliding *ngFor="let todolist of ownerTodolist ; let i1 = index" [attr.data-index]="i1">
      <ion-item [href]="'/todoslist/' + todolist.id" routerDirection="forward">
        <ion-label>
          <h2>{{ 'List n°' + (i1+1) + ' : ' +  todolist.name}}</h2>
        </ion-label>
        <span> {{todolist.todos.length}} todos</span>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="delete(todolist)">
          <ion-icon slot="top" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <H3>My shared lists</H3>
    <ion-item-sliding *ngFor="let todolist of allowReadWriteTodolist ; let i1 = index" [attr.data-index]="i1">
      <ion-item [href]="'/todoslist/' + todolist.id" routerDirection="forward">
        <ion-label>
          <h2>{{ 'List n°' + (i1+1) + ' : ' +  todolist.name}}</h2>
        </ion-label>
        <span> {{todolist.todos.length}} todos</span>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <section>   
  <ion-button (click)="displayPromptAddTodolist()">New todolist</ion-button>
  </section>
</ion-content>
