<ion-content color="primary" class="ion-padding">

    <app-menu [idMenu]="'shared-todolist'"></app-menu>
    <ion-header>
        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
    </ion-header>
    <ion-grid>
        <ion-row color="primary" class="ion-justify-content-center">
            <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
                <div class="ion-text-center">
                </div>
                <div class="ion-padding">
                    <ion-item-sliding *ngFor="let todolist of allowReadWriteTodolist ; let i1 = index" [attr.data-index]="i1">
                        <ion-item [color]="isCompleted(todolist)?'success':'warning'" class="ion-item-todolist" [routerLink]="[todolist.id]" routerDirection="forward">
                            <ion-label>
                                <h2>{{ 'List n°' + (i1+1) + ' : ' +  todolist.name}}</h2>
                            </ion-label>
                            <ion-icon name="eye"></ion-icon>
                            <span>  {{todolist.owner}} {{countTodoDone(todolist)}}/{{todolist.todos.length}} todos</span>
                        </ion-item>
                        <ion-item-options side="end">
                            <ion-item-option color="light" (click)="displayPromptAboutTodolist(todolist)">
                                <ion-icon slot="top" name="information-circle-outline"></ion-icon>
                            </ion-item-option>
                        </ion-item-options>
                    </ion-item-sliding>
                </div>

            </ion-col>
        </ion-row>
    </ion-grid>
    <!--
     <H3>My shared lists</H3>
     <ion-item-sliding *ngFor="let todolist of allowReadWriteTodolist ; let i1 = index" [attr.data-index]="i1">
       <ion-item [href]="'/todoslist/' + todolist.id" routerDirection="forward">
         <ion-label>
           <h2>{{ 'List n°' + (i1+1) + ' : ' +  todolist.name}}</h2>
         </ion-label>
         <span> {{todolist.todos.length}} todos</span>
       </ion-item>
     </ion-item-sliding>
     -->

</ion-content>
