<!-- Based on https://www.techiediaries.com/ionic-ui-forms-theming/-->
<ion-content color="primary" class="ion-padding">
    <form #form="ngForm" (ngSubmit)="signUp()">
      <ion-grid>
        <ion-row color="primary" class="ion-justify-content-center">
          <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
            <div class="ion-text-center">
              <h3>Signup</h3>
            </div>
            <div class="ion-padding">
              <ion-item>
                <ion-label color="light" position="floating"><b>Username</b></ion-label>
                <ion-input name="displayName" type="text" placeholder="John Doe" minlength="3" maxlength="10" [(ngModel)]="displayName" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="light" position="floating"><b>Email</b></ion-label>
                <ion-input name="email" type="email" placeholder="your@email.com" [(ngModel)]="email" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="light" position="floating"><b>Password</b></ion-label>
                <ion-input name="password" type="password" placeholder="Password" minlength="6" [(ngModel)]="password" required></ion-input>
              </ion-item>
            </div>
            <div class="ion-padding">
              <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Create my account</ion-button>
            </div>
            <ion-text color="danger" *ngIf="this.error">
              {{this.error.message}}
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>
